@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');
:root{
    --body-bg: hsl(212, 45%, 89%);
    --card-color: hsl(0, 0%, 100%);
    --title-color: hsl(218, 44%, 22%);
    --p-color: hsl(220, 15%, 55%);
}

/* __MODERN-RESET__ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* __STARTS-THE-REAL-STYLING__ */

html{
    font-size: 62.5%;
}

body{
    background-color: var(--body-bg);
    font-family: Outfit, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    min-height: 100vh;
}

.card{
    background-color: var(--card-color);
    text-align: center;
    color: var(--p-color);
    width: 330px;
    border-radius: 20px;
    padding: 1.7rem;
}

.qr-img{
    border-radius: 10px;
}

.description{
    padding: 0 1.5rem;
    margin-bottom:2.5rem;
}

.description h4{
    color: var(--title-color);
    font-weight: 700;
    font-size: 2.34rem;
    line-height: 3rem;
}

.description p{
    font-weight: 400;
    font-size: 1.65rem;
    line-height: 2rem;
}